{:paths ["src"]
 :deps  {camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
         applied-science/js-interop          {:mvn/version "0.4.2"}
         org.clojure/clojurescript           {:mvn/version "1.12.134"}
         xtatus-quo/xtatus-quo               {:local/root "../xtatus-quo"}}
 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps  {org.clojure/clojure       {:mvn/version "1.12.4"}
                      org.clojure/clojurescript {:mvn/version "1.12.134"}
                      reagent/reagent           {:mvn/version "2.0.1"}
                      cljsjs/react              {:mvn/version "18.3.1-1"}}
        :main-opts   ["-m" "cljs.main" "-re" "node"]}}}
